USE [master]
GO
/****** Object:  Database [pharmacy]    Script Date: 3/14/2019 1:40:17 AM ******/
CREATE DATABASE [pharmacy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pharmacy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\pharmacy.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'pharmacy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\pharmacy_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pharmacy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pharmacy]
GO
/****** Object:  User [zeeshan]    Script Date: 3/14/2019 1:40:17 AM ******/
CREATE USER [zeeshan] FOR LOGIN [zeeshan] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [zeeshan]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [zeeshan]
GO
/****** Object:  Table [dbo].[medicine]    Script Date: 3/14/2019 1:40:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicine](
	[m_id] [int] IDENTITY(1,1) NOT NULL,
	[generic_name] [nvarchar](50) NOT NULL,
	[brand_names] [nvarchar](200) NOT NULL,
	[companies] [nvarchar](200) NOT NULL,
	[quantity] [int] NOT NULL,
	[last_exp_date] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_medicine] PRIMARY KEY CLUSTERED 
(
	[m_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[medicine_unit]    Script Date: 3/14/2019 1:40:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicine_unit](
	[U_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[company] [nvarchar](50) NOT NULL,
	[exp_date] [nvarchar](50) NOT NULL,
	[u_price] [float] NOT NULL,
	[quantity] [int] NOT NULL,
	[m_id] [int] NOT NULL,
 CONSTRAINT [PK_medicine_unit] PRIMARY KEY CLUSTERED 
(
	[U_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pharmacist]    Script Date: 3/14/2019 1:40:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pharmacist](
	[p_id] [int] IDENTITY(1,1) NOT NULL,
	[p_name] [nvarchar](50) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[pass_hash] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Index [IX_pharmacist]    Script Date: 3/14/2019 1:40:18 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_pharmacist] ON [dbo].[pharmacist]
(
	[p_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_pharmacist_1]    Script Date: 3/14/2019 1:40:18 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_pharmacist_1] ON [dbo].[pharmacist]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
